body{
  background-color: black;
}


.typeWritter{
  font-size: 6.5vw;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;

}


.FixedComponents1{
  opacity: 0.9;
  z-index: 3;
  overflow-y: scroll;
  width: 34vw;
  height: 46vw;
  background-color: white;
  position: absolute;
  top: 5vw;
  left: 1vw;
  transform: rotate(2deg);
  box-shadow: 6px 10px 17px 0px white;
  -webkit-animation: FixedComponents1 10s infinite;
  animation: FixedComponents1 10s infinite;
}


.FixedComponents1 p{
  font-weight: lighter;
  margin: 2%;
}

.FixedComponents1 span{
  color: black;
  background-color: #00FF7F;
}

.FixedComponents1 img{
  width: 80%;
  margin-left: 2%;
  border: 1px dotted black;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes FixedComponents1 {
    from {left: 10vw;}
    to {left: 20vw;}
}

@keyframes FixedComponents1 {
  from {left: 10vw;}
  to {left: 20vw;}
}


.FixedComponents1:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}




.FixedComponents2{
    opacity: 0.9;
    z-index: 10;
    overflow-y: scroll;
    width: 80vw;
    height: 8vw;
    background-color: white;
    position: absolute;
    top: 285vw;
  transform: rotate(0deg);
  box-shadow: 6px 10px 17px 0px white;
  -webkit-animation: FixedComponents2 4s infinite;
  animation: FixedComponents2 4s infinite;

}

.FixedComponents2 img{
  height: 88%;
}




.FixedComponents2:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes FixedComponents2 {
    from {left: 10vw;}
    to {left: 13vw;}
}

@keyframes FixedComponents2 {
  from {left: 10vw;}
  to {left: 13vw;}
}

.FixedComponents3 hr{
  border: 1px dotted blue;
}

.FixedComponents3{
  opacity: 0.9;
    z-index: 10;
    overflow-y: scroll;
    width: 30vw;
    height: 43vw;
    background-color: white;
    position: absolute;
    top: 196vw;
    right: 10vw;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    box-shadow: 6px 10px 17px 0px white;
    -webkit-animation: FixedComponents3 4s infinite;
    animation: FixedComponents3 13s infinite;
}

.FixedComponents3Img img{
  width: 61%;
}

.FixedComponents3MarqueeImg{
  width: 20% !important;
}

.FixedComponents3:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes FixedComponents3 {
  0% {
      transform:  translate(-111px,5px)  ;
  }
  26% {
    transform:  translate(-111px,5px)  ;
  }
  60% {
    transform:  translate(80px,-98px)  ;
  }
  90% {
    transform:  translate(-111px,5px)  ;
  }
  100% {
    transform:  translate(-263px,121px)  ;
  }
}

@keyframes FixedComponents3 {
    0% {
        transform:  translate(-111px,5px)  ;
    }
    26% {
      transform:  translate(-111px,5px)  ;
    }
    60% {
      transform:  translate(80px,-98px)  ;
    }
    90% {
      transform:  translate(-111px,5px)  ;
    }
    100% {
      transform:  translate(-263px,121px)  ;
    }
}

.FixedComponents3 p{
  font-weight: lighter;
}


.FixedComponents3 span{
  color: 	black;
  background-color: #00FF7F;
}

.marquee{
  color: white;
}

.NavBarHeader{
  width : 100%;
  z-index: 4;
  position: fixed;
}

.photo-content img{
  width: 100vw;
}

.bigImgs{
  width: 100vw;
}


.FixedImg img{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.marquee img{
  height: 10vh;
  padding-right: 2vw;
}
