body{
  background-color: black;
  overflow-x: hidden;
}


.typeWritter{
  font-size: 6.5vw;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 100;

}

/*.img_marquee:hover{
  height: 300%;
}*/


a{
  color: black;
  text-decoration: none;
}

link:visited{
  color: black;
}

.video_component1{
  position: fixed;
  top: 2vw;
  left: 8vw;
  z-index: 100000;
  width: 80vw;
  display: flex;
}


video{
  z-index: 10000000000;
  box-shadow: 0px 0px 75px 0px rgba(255,255,255,1);
}


.info_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.info{
  background-color: white;
  width: 80vw;
  height: 76vh;

}



.video_component2{
  position: fixed;
  top: 2vw;
  left: 8vw;
  z-index: 100000;
  width: 80vw;
  display: flex;
}

.video_component2 video{
  height: 45vw;
  margin: 0 auto;
  width: 80vw;
  position: fixed;
  left: 12vw;
  top: 8vh;

}



.FixedComponentsA{
  opacity: 0.9;
  z-index: 3;
  overflow-y: scroll;
  width: 24vw;
  height: 41vw;
  background-color: white;
  position: absolute;
  top: 4vw;
  left: 1vw;
  transform: rotate(2deg);
  box-shadow: 6px 10px 17px 0px white;
  -webkit-animation: FixedComponentsA 10s infinite;
  animation: FixedComponentsA 10s infinite;
}


.FixedComponentsA p{
  font-weight: lighter;
  margin: 2%;
}

.FixedComponentsA span{
  color: black;
  /*background-color: #00FF7F;*/
}

.FixedComponentsA img{
  width: 80%;
  margin-left: 2%;
  border: 1px dotted black;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes FixedComponentsA {
    from {left: 90vw;}
    to {left: 20vw;}
}

@keyframes FixedComponentsA {
  from {left: 90vw;}
  to {left: 20vw;}
}


.FixedComponentsA:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}

.FixedComponentsA_2{
  width: 20vw;
  height: 25vw;
  background-color: white;
  transform: rotate(2deg);
  box-shadow: 6px 10px 17px 0px white;
   opacity: 1;
    top: 24vw;
   left: 71vw;
    position: absolute;
    z-index: 1000;
}

.first_background{
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.first_background img{
  width: 50vw;
  position: absolute;
  z-index: 100;
  top: 62.7vw;
  right: 0px;
  transform: rotate(-1deg);
    -webkit-animation: first_backgroundX 5s linear 0s infinite alternate, first_backgroundY 5s linear 0s infinite alternate;
     -moz-animation: first_backgroundX 5s linear 0s infinite alternate, first_backgroundY 5s linear 0s infinite alternate;
     -o-animation: first_backgroundX 5s linear 0s infinite alternate, first_backgroundY 5s linear 0s infinite alternate;
     animation: first_backgroundX 5s linear 0s infinite alternate, first_backgroundY 5s linear 0s infinite alternate;
}


@-webkit-keyframes first_backgroundX {
    from {
      right: 0px;
    }
    to {
      right: 3vw;
    }
}

@-moz-keyframes first_backgroundX {
  from {
    right: 0px;
  }
  to {
    right: 3vw;
  }
}

@-o-keyframes first_backgroundX {
  from {
    right: 0px;
  }
  to {
    right: 3vw;
  }
}

@keyframes first_backgroundX {
  from {
    right: 0px;
  }
  to {
    right: 3vw;
  }
}

@-webkit-keyframes first_backgroundY {
  from {
    top: 62.7vw;
  }
  to {
    top: 65vw;
  }
}

@-moz-keyframes first_backgroundY {
  from {
    top: 62.7vw;
  }
  to {
    top: 65vw;
  }
}

@-o-keyframes first_backgroundY {
  from {
    top: 62.7vw;
  }
  to {
    top: 65vw;
  }
}

@keyframes first_backgroundY {
    from {
      top: 62.7vw;
    }
    to {
      top: 65vw;
    }
}


.marquee_div_right{
  width: 39vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  /*border-left: 1px solid white;*/
}


.second_background{
  background-color: black;
  height: 321vh;
  width: 100vw;
}

.second_background_forth_img{
  width: 10vw;
}

.second_background_second_img{
  width: 70vw;
}

.second_background_third_img{
  width: 25vw;
}

.flex_container{
  display: flex;
  width: 100vw;
  position: absolute;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 127vh;
}


.second_background .second_background_first_img{
  width: 80vw;
  position: absolute;
  animation: animationFrames1 4s infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames1 4s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames1 4s infinite;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames1 4s infinite;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames1 4s infinite;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}


.third_background{
  background-color: black;
  height: 180vh;
  width: 100vw;
}

.third_background_first_img{
  width: 60vw;
  animation: animationFrames1 4s infinite;

}


.third_background_forth_img{
  width: 60vw;
  animation: animationFrames1 4s infinite;
}


.third_background_fifth_img{
  width: 10vw;
  animation: animationFrames2 10s infinite;
}

.third_background_sixth_img{
      width: 10vw;
      position: absolute;
      right: 10vw;
      animation: animationFrames1 4s infinite;
}

.third_background_sixth_img{
  width: 10vw;
  animation: animationFrames1 4s infinite;
}


.third_background_seventh_img{
  width: 10vw;
  animation: animationFrames1 4s infinite;
  padding-top: 70vw;
  animation: animationFrames3 10s infinite;

}




.third_background .flex_container{
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 12vw;
}


.third_background_third_img{
  width: 70vw;
}

.third_background_second_img{
  width: 25vw;

}


.fourth_background{
    background-color: black;
    height: 200vh;
    width: 100vw;

}

.fourth_background .flex_container{
  padding-top: 10vh;
}

.fourth_background_first_img{
  animation: animationFrames1 4s infinite;
  width: 30vw;

}

.fourth_background_second_img{
  animation: animationFrames1 4s infinite;
  width: 20vw;

}



.fourth_background_third_img{
  animation: animationFrames2 4s infinite;
  width: 20vw;
  margin-top: 50vw;

}


.fourth_background_forth_img{
  /*animation: animationFrames2 4s infinite;*/
  margin-top: 50vw;
  animation: animationFrames1 10s infinite;
  width: 40vw;
  z-index: 10000;
  position: absolute;
  right: 0px;

}



@keyframes animationFrames1{
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(44px,-11px)  ;
  }
  83% {
    transform:  translate(92px,-26px)  ;
  }
  100% {
    transform:  translate(92px,-26px)  ;
  }
}

@-moz-keyframes animationFrames1{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(44px,-11px)  ;
  }
  83% {
    -moz-transform:  translate(92px,-26px)  ;
  }
  100% {
    -moz-transform:  translate(92px,-26px)  ;
  }
}

@-webkit-keyframes animationFrames1 {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(44px,-11px)  ;
  }
  83% {
    -webkit-transform:  translate(92px,-26px)  ;
  }
  100% {
    -webkit-transform:  translate(92px,-26px)  ;
  }
}

@-o-keyframes animationFrames1 {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    -o-transform:  translate(44px,-11px)  ;
  }
  83% {
    -o-transform:  translate(92px,-26px)  ;
  }
  100% {
    -o-transform:  translate(92px,-26px)  ;
  }
}

@-ms-keyframes animationFrames1 {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    -ms-transform:  translate(44px,-11px)  ;
  }
  83% {
    -ms-transform:  translate(92px,-26px)  ;
  }
  100% {
    -ms-transform:  translate(92px,-26px)  ;
  }
}



.second_background p{
  color: black;
  font-size: 6vw;
  text-align: center;
  text-shadow: 0 0 70px #404040;
  -moz-animation:second_background_p 10s infinite; /* Firefox */
-webkit-animation:second_background_p 10s infinite; /* Safari and Chrome */
  }


  @-moz-keyframes second_background_p /* Firefox */
{
  0%   {color:black;}
  25%   {color:#181818  ;}
  50%  {color:	#202020 ;}
  75%   {color:#282828  ;}
  100%   {color:black;}
}

    @-webkit-keyframes second_background_p /* Safari and Chrome */
{
  0%   {color:black;}
  25%   {color:#181818  ;}
  50%  {color:	#202020 ;}
  75%   {color:#282828  ;}
  100%   {color:black;}
}




.FixedComponents2{
  border-radius: 60%;
  opacity: 0.9;
  z-index: 2;
  overflow: hidden;
  width: 10vw;
  height: 38vw;
  background-color: white;
  position: absolute;
  top: 11vw;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 6px 10px 17px 0px white;
  -webkit-animation: FixedComponents2 4s infinite;
  animation: FixedComponents2 4s infinite;
}

.FixedComponents2 img{
  height: 22%;
  padding-left: 18px;
}




.FixedComponents2:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes FixedComponents2 {
    from {left: 10vw;}
    to {left: 13vw;}
}

@keyframes FixedComponents2 {
  from {left: 10vw;}
  to {left: 13vw;}
}

.FixedComponents3 hr{
  border: 1px dotted blue;
}

.FixedComponents3{
  display: none;
  opacity: 0.9;
    z-index: 10;
    overflow-y: scroll;
    width: 30vw;
    height: 29vw;
    background-color: white;
    position: absolute;
    top: 600vw;
    left: 60vw;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    box-shadow: 6px 10px 17px 0px white;
    -webkit-animation: FixedComponents3 4s infinite;
    animation: FixedComponents3 13s infinite;
}

.FixedComponents3ImgContainer{
  border: 2px dotted blue;
  margin: 1vw;
}


.FixedComponents3Img img{
  width: 100%;
  padding-top: 0vw;

}

.p{
  position: absolute;
  left: 0px;
  height: 100vw;
  width: 10vw;
  background-color: black;

}

.FixedImg img{

}



.FixedComponents3MarqueeImg{
  width: 20% !important;
}

.FixedComponents3:hover{
  -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes FixedComponents3 {
  0% {
      transform:  translate(-111px,5px)  ;
  }
  26% {
    transform:  translate(-111px,5px)  ;
  }
  60% {
    transform:  translate(80px,-98px)  ;
  }
  90% {
    transform:  translate(-111px,5px)  ;
  }
  100% {
    transform:  translate(-111px,5px)  ;
  }
}

@keyframes FixedComponents3 {
  0% {
      transform:  translate(-111px,5px)  ;
  }
  26% {
    transform:  translate(-111px,5px)  ;
  }
  60% {
    transform:  translate(80px,-98px)  ;
  }
  90% {
    transform:  translate(-111px,5px)  ;
  }
  100% {
    transform:  translate(-111px,5px)  ;
  }
}


.FixedComponents3 p{
  font-weight: lighter;
}


.FixedComponents3 span{
  color: 	black;
  /*background-color: #00FF7F;*/
}

.marquee{
  color: white;
}

.NavBarHeader{
  width : 100%;
  z-index: 100000000000;
  position: fixed;
  top: 0px;
}



.photo-content img{
  width: 100vw;
  margin: 0 auto;

}

.bigImgs{
  width: 100vw;
}

.p_images img {
  position: absolute;
width: 19vw;
right: 0;
}

.FixedImg1{
  position: absolute !important;
}

.FixedImg img{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.marquee img{
  height: 10vh;
  padding-right: 2vw;
}






@keyframes animationFrames2{
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames2{
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}

}

@-webkit-keyframes animationFrames2 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}

@-o-keyframes animationFrames2 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}

@-ms-keyframes animationFrames2 {

  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}




@keyframes animationFrames3{
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames3{
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}

}

@-webkit-keyframes animationFrames3 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}

@-o-keyframes animationFrames3 {
  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}

@-ms-keyframes animationFrames3 {

  0% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(10px,-11px)  ;
  }
  83% {
    transform:  translate(50px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
}
}
